# Application project files and folders
*net
.cache/
.vscode/
.pio
platformio.ini
build/
*workspace
*MACOSX
__pycache__
CmdProcessor/.gitignore

# Some security concerns
*[pP]password*
*[lL]ogin*
*[rR]eceipts*
.directory

# Backup files
*~
*bak*
*save

# Folders
Design Documents/
3D Drawings/
SpecSheets/

# File types
*cmd
*sch#
*sym#
*png
*pdf
*zip
*csv
*gerber*
*odt

# Files with 'scratch' in the name are for testing new features
*scratch*

# Various files containing information and notes
Calibrating the Spectrum Analzyer.txt
LO2 Range.txt
Next steps.txt
Gerber mods when using JLCPCB.txt
Percent error when M equals 125.ods
BOM's/
Block_Diagram.sch
Updates for V4.0 Spectrum Analyzer boards & circuits.txt
tools/
