*~
*save
*zip

CmdProcessor/.pio/
CmdProcessor/.cache/
CmdProcessor/build/
CmdProcessor/.codex
CmdProcessor/.vscode/
.vscode/

CmdProcessor/Gen 4 Python Learning Project.md
CmdProcessor/List Of Issues 4-19-26.txt
CmdProcessor/Next steps.txt
Gerber mods when using JLCPCB.txt
Spectrum_Analyzer/Components/3D Drawings/
Spectrum_Analyzer/Components/Bill Of Materials - V4.0 SA/
Spectrum_Analyzer/Digikey - headers__receptacles__female_sockets.csv
Spectrum_Analyzer/Schematics/BOM's/
Spectrum_Analyzer/Schematics/RF_gerbers/
Spectrum_Analyzer/Schematics/Schematics - Original Hand Drawn/
Spectrum_Analyzer/Schematics/__pycache__/
Spectrum_Analyzer/Schematics/control_gerbers/
Spectrum_Analyzer/Schematics/controlvwi.net
Spectrum_Analyzer/Schematics/power_gerbers/
Spectrum_Analyzer/Schematics/pwrsupvwi.pcb.bak
Spectrum_Analyzer/Schematics/pwrsupvwi.pcb.bak0
Spectrum_Analyzer/Schematics/pwrsupvwi.pcb.bak1
Spectrum_Analyzer/Schematics/pwrsupvwi.pcb.bak2
Spectrum_Analyzer/Schematics/scratch_pad-page1.sch
Spectrum_Analyzer/Schematics/scratch_pad.gsch2pcb
Spectrum_Analyzer/Schematics/scratch_pad.net
Spectrum_Analyzer/Schematics/scratch_pad.pcb
Spectrum_Analyzer/Schematics/tools/
Spectrum_Analyzer/Software/SRAM_TEST_1/
Spectrum_Analyzer/Spectrum Analyzer Explanation of Operation.odt
Spectrum_Analyzer/screen_captures/
